@use './variables';

body {
    background-color: variables.$Very-dark-blue;
    color: variables.$Grayish-blue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(/src/assets/img/bg-stars.svg);
    position: relative;

    h1 {
        color: variables.$White;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    .contador {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;


        div {
            margin: 10px;
        }

        p {
            padding: 20px;
            background-color: variables.$Dark-desaturated-blue;
            border-radius: 5px;
            color: variables.$Soft-red;
            font-size: 45px;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .hills {
        max-width: 100%;
        position: absolute;
        bottom: 0;
    }
}